node_modules/
.env
dist/
build/
.DS_Store
*.log
backend/node_modules/
backend/dist/
backend/.env
frontend/node_modules/
frontend/dist/
frontend/.env
uploads/
backend/uploads/
backend/google-service-account.json
